/*
 * All of the styles are Mobile-fast and in portrait orientation by default.
 */
html,
body,
main {
  height: 100vh;
}

body {
  background-color: #555E69;
  color: #fff;
  width: 100vw;
}

/** Ordinary Desktop or larger */
@media screen and (min-width: 1280px) {
  body {
    display: flex;
  }
}
/************************
 * Main
 ************************/
/** Ordinary Desktop or larger */
@media screen and (min-width: 1280px) {
  main {
    width: 70vw;
  }
}
main.shifted {
  transform: translate(85vw, 0);
  transition: transform 0.3s ease;
}

/** Mobile in landscape mode */
@media screen and (orientation: landscape) {
  main.shifted {
    transform: translate(40vw, 0);
  }
}
/** Tablet or larger */
@media screen and (min-width: 768px) {
  main.shifted {
    transform: translate(35vw, 0);
  }
}
/** Tablet or larger and in landscape mode */
@media screen and (min-width: 768px) and (orientation: landscape) {
  main.shifted {
    transform: translate(35vw, 0);
  }
}
.error {
  color: #f00;
}

.map-container,
.map-embed,
.map-canvas {
  height: 90vh;
}

/** Mobile in landscape mode */
@media screen and (orientation: landscape) {
  .map-container,
  .map-embed,
  .map-canvas {
    height: 83vh;
  }
}
/** Tablet or larger and in landscape mode */
@media screen and (min-width: 768px) and (orientation: landscape) {
  .map-container,
  .map-embed,
  .map-canvas {
    height: 90vh;
  }
}
/** Ordinary Desktop or larger */
@media screen and (min-width: 1280px) {
  .map-container,
  .map-embed,
  .map-canvas {
    height: 100vh;
  }
}
/************************
 * Navigation Menu
 ************************/
nav {
  width: 85vw;
  height: 100%;
  position: absolute;
  transform: translate(-85vw, 0);
  padding: 10px;
}

/** Tablet or larger */
@media screen and (min-width: 768px) {
  nav {
    width: 35vw;
    transform: translate(-35vw, 0);
  }
}
/** Mobile in landscape mode */
@media screen and (orientation: landscape) {
  nav {
    padding-top: 0;
    width: 40vw;
  }
}
/** Tablet or larger and in landscape mode */
@media screen and (min-width: 768px) and (orientation: landscape) {
  nav {
    width: 35vw;
    transform: translate(-35vw, 0);
  }
}
/** Ordinary Desktop or larger */
@media screen and (min-width: 1280px) {
  nav {
    padding: 10px;
    position: static;
    width: 30vw;
    transform: translate(0, 0);
  }
}
.app-name {
  height: 5%;
}
.app-name p {
  margin: 0;
  font-size: 1em;
}

/** Tablet or larger */
@media screen and (min-width: 768px) {
  .app-name {
    height: 3%;
  }
}
/** Mobile in landscape mode */
@media screen and (orientation: landscape) {
  .app-name {
    display: none;
  }
}
/** Tablet or larger and in landscape mode */
@media screen and (min-width: 768px) and (orientation: landscape) {
  .app-name {
    display: block;
  }
}
/** Ordinary Desktop or larger */
@media screen and (min-width: 1280px) {
  .app-name {
    height: 5%;
  }
  .app-name p {
    font-size: 2em;
  }
}
nav.open {
  transform: translate(0, 0);
}

.btn-wrap {
  height: 40px;
  width: 40px;
  margin: 10px;
}

/** Ordinary Desktop or larger */
@media screen and (min-width: 1280px) {
  .btn-wrap {
    display: none;
  }
}
.nav-toggle {
  width: 100%;
  height: 100%;
  padding: 9px 0 0;
}

.wiki-wrapper {
  height: 30%;
}

/** Tablet or larger */
@media screen and (min-width: 768px) {
  .wiki-wrapper {
    height: 32%;
  }
}
@media screen and (orientation: landscape) {
  .wiki-wrapper {
    height: 35%;
  }
}
.wiki {
  height: 100%;
  word-break: break-word;
  padding-bottom: 20px;
}

.wiki-content {
  border: 1px solid;
  padding: 5px;
  height: 90%;
  overflow-x: scroll;
}

.place-name {
  font-size: 1.3em;
}

/** Mobile in landscape mode */
@media screen and (orientation: landscape) {
  .place-name {
    font-size: 1em;
  }
}
/** Ordinary Desktop or larger */
@media screen and (min-width: 1280px) {
  .place-name {
    font-size: 1.3em;
  }
}
form {
  height: 5%;
}

/** Mobile in landscape mode */
@media screen and (orientation: landscape) {
  form {
    height: 10%;
  }
}
/** Tablet or larger and in landscape mode */
@media screen and (min-width: 768px) and (orientation: landscape) {
  form {
    height: 7%;
  }
}
.search-result {
  height: 60%;
  padding-bottom: 5%;
}
.search-result p {
  font-size: 1.3em;
  margin: 0;
  padding: 10px 0 0;
}

/** Mobile in landscape mode */
@media screen and (orientation: landscape) {
  .search-result {
    height: 55%;
    padding: 0 0 5px 0;
  }
  .search-result p {
    font-size: 1em;
    padding: 0;
  }
}
/** Ordinary Desktop or larger */
@media screen and (min-width: 1280px) {
  .search-result p {
    font-size: 1.3em;
  }
}
.scrollable-menu {
  height: 90%;
  overflow-x: hidden;
  margin: 0;
  border: 1px solid;
}
.scrollable-menu li {
  padding: 10px;
}
.scrollable-menu li a {
  color: #fff;
}

/*************************
 * Map Contents
 ************************/
.map-embed {
  color: #000;
  height: 90%;
}

/******************************
 * Venue Contents (infoWindow)
 ******************************/
/* venue name */
.name {
  font-weight: bold;
  font-size: 2em;
  font-family: 'Lobster', cursive;
  font-style: italic;
  margin-right: 5px;
}

.contact-list {
  list-style: none;
  padding: 0;
}

.contact-key {
  font-weight: bold;
  font-style: italic;
}

/*# sourceMappingURL=style.css.map */
